<!-- app/views/devices/index.html.erb
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<% provide(:title, (t '.title')) %>
<% content_for :device_class, "active" %>
<% content_for :sidebar do %>
<li>
  <%= link_to (t 'devices.new.link'), new_device_path,
  class: "btn btn-sm btn-danger" %>
</li>
<% end %>

<% content_for :toolbar do %>
<div class="pull-right">
  <%= will_paginate %>
</div>
<% end %>

<div class="tp-data">
  <table class="tp-data">
    <colgroup>
      <col class="tp-check"/>
      <col class="tp-sender"/>
      <col class="tp-mark"/>
      <col class="tp-text"/>
      <col class="tp-spare"/>
      <col class="tp-date"/>
    </colgroup>
    <tbody>
      <% @devices.each do |device| %> 
        <tr>
          <td class="tp-check">
            <div class="tp-check"></div>
          </td>
          <td class="tp-sender">
            <%= link_to device.name, device %>
          </td>
          <td>
          </td>
          <td>
            <%= link_to device.state.content, device %>
          </td>
          <td>
          </td>
          <td class="tp-date">
            <%= link_to device.state.time, device %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- vim:set ts=2 sts=2 sw=2 et: -->
