<!-- app/views/users/new.html.erb - create a new user
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<% provide(:title, (t '.title')) %>
<% content_for :device_class, "active" %>

<div class="row tp-device"><div class="col-lg-6">
<%= form_for(@device, :html => { class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <label class="tp-photo conrtol-label col-sm-3">
      <span class="glyphicon glyphicon-user"></span>
    </label>
    <%= f.label :name, class: "control-label hidden" %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control input-lg" %>
      <% f.object.errors.messages[:name].each do |m| %>
        <%= f.label :name, m, class: "help-block" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hostname, class: "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :hostname, class: "form-control input-sm" %>
      <% f.object.errors.messages[:hostname].each do |m| %>
        <%= f.label :hostname, m, class: "help-block" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :filepath, class: "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :filepath, class: "form-control input-sm" %>
      <% f.object.errors.messages[:filepath].each do |m| %>
        <%= f.label :filepath, m, class: "help-block" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :enabled, class: "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.check_box :enabled, class: "form-control input-sm", disabled: (true unless current_user.admin?) %>
      <% f.object.errors.messages[:enabled].each do |m| %>
        <%= f.label :enabled, m, class: "help-block" %>
      <% end %>
    </div>
  </div>
  <%= f.submit "Изменить", class: "btn btn-sm btn-primary" %>
<% end %>
</div></div>

<!-- vim:set ts=2 sts=2 sw=2 et: -->
