<!-- app/views/users/index.html.erb
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<% provide(:title, 'Пользователи') %>
<% content_for :user_class, "active" %>
<% content_for :sidebar do %>
<li>
  <%= link_to (t 'users.new.link'), new_user_path,
  class: "btn btn-sm btn-danger" %>
</li>
<% end %>

<% content_for :toolbar do %>
<div class="pull-right">
  <%= will_paginate %>
</div>
<% end %>

<div class="tp-data">
  <table class="tp-data">
    <colgroup>
      <col class="tp-check"/>
      <col class="col-xs-6 col-sm-4 col-xl-2"/>
      <col class="col-xs-4 col-sm-3 col-xl-2"/>
      <col class="tp-text"/>
    </colgroup>
    <tbody>
      <% @users.each do |user| %> 
        <tr>
          <td class="tp-check">
            <div class="tp-check"></div>
          </td>
          <td class="tp-sender">
            <%= link_to user.name, user %>
          </td>
          <td>
            <%= link_to user.email, user %>
          </td>
          <td class="tp-info">
            <% if user.admin? %>
            <span class="label label-danger">
              <%= User.human_attribute_name("admin") %>
            </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- vim:set ts=2 sts=2 sw=2 et: -->
