<!-- app/views/users/show.html.erb - display and edit user
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<div class="row"><div class="col-md-6">
<%= form_for(@user, :html => { class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "control-label col-sm-4 col-md-2" %>
    <div class="col-sm-8 col-md-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, "Эл.почта", class: "control-label col-sm-4 col-md-2" %>
    <div class="col-sm-8 col-md-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
<% end %>
</div></div>

<!-- vim:set ts=2 sts=2 sw=2 et: -->
