<!-- app/views/users/show.html.erb - display and edit user
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<% content_for :user_class, "active" %>

<div class="row tp-user"><div class="col-lg-6">
<%= form_for(@user, :html => { class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <label class="tp-photo conrtol-label col-sm-3">
      <span class="glyphicon glyphicon-user"></span>
    </label>
    <%= f.label :name, "Полное имя", class: "control-label hidden" %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control input-lg" %>
      <% f.object.errors.messages[:name].each do |m| %>
        <%= f.label :name, m, class: "help-block" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, "Эл.почта", class: "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :email, class: "form-control input-sm" %>
      <% f.object.errors.messages[:email].each do |m| %>
        <%= f.label :email, m, class: "help-block" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, "Пароль", class: "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.password_field :password, class: "form-control input-sm" %>
      <% f.object.errors.messages[:password].each do |m| %>
        <%= f.label :password, m, class: "help-block" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Подтверждение", class: "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, class: "form-control input-sm" %>
      <% f.object.errors.messages[:password_confirmation].each do |m| %>
        <%= f.label :password_confirmation, m, class: "help-block" %>
      <% end %>
    </div>
  </div>
  <%= f.submit "Изменить", class: "btn btn-sm btn-primary" %>
<% end %>
</div></div>

<!-- vim:set ts=2 sts=2 sw=2 et: -->
