// views/sessions/new.jade -- signin page
// Copyright 2014 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

doctype html
html
  head
    title= title + ' - asupt.io'
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
  body
    header.banner-signin
      a.navbar-brand(href='/') asutp.io
    .container
      h2.form-signin-heading.text-center= t('session.prompt')
      form(method='post', action='/signin', accept-charset="UTF-8").form-signin
        label(for='email').hidden= t('user.email')
        input(id='email', name='email', type='text', placeholder=t('user.email')).form-control
        .form-group(class=e('password')?'has-error':'')
          label(for='password').hidden= t('user.password')
          input(id='password', name='password', type='password',
            placeholder=t('user.password')).form-control
          if e('password')
            label(for='password').help-block
              = t('mongoose.'+e('password').type)
        input(name='_csrf', value=csrf, type='hidden')
        input(type='submit',name='submit',value=t('session.sign_in')).btn.btn-lg.btn-primary.btn-block
    include ../_footer
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')

//- vim:ts=2 sts=2 sw=2 et:
