// views/index.jade -- mockup main page
// Copyright 2014 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

extends ../_main

block toolbar
  .pull-right
    .page
      b= pager.firstItem
      | –
      b= pager.lastItem
      = ' ' + t('pagination.of') + ' '
      b= pager.count
    ul.pagination
      li: a(href=pager.prev)= '<'
      li: a(href=pager.next)= '>'

block content
  .tp-data
    table.tp-data
      colgroup
        col.tp-check
        col.col-xs-6.col-sm-4.col-xl-3
        col.col-xs-4.col-sm-3.col-xl-2
        col.tp-text
      tbody
        each u in users
          tr
            td.tp-check
              .tp-check
            td.tp-sender
              a(href='/users/'+u._id)= u.name
            td.tp-email
              = u.email
            td.tp-info

//- vim:ts=2 sts=2 sw=2 et:
