// views/users/new.jade -- signup page
// Copyright 2015 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

extends ../layouts/sign

block content
  form(method='post', action='/users', accept-charset="UTF-8").form-signup
    .form-group.margin-bottomless(class=e('name')?'has-error':'')
      input(id='name', name='name', type='text', placeholder=t('user.name')).form-control
    .form-group(class=e('email')?'has-error':'')
      input(id='email', name='email', type='text', placeholder=t('user.email')).form-control
    if e('name')
      label(for='name').help-block= t('mongoose.'+e('name').kind, e('name'))
    if e('email')
      label(for='email').help-block= t('mongoose.'+e('email').kind, e('email'))

    .form-group.margin-bottomless(class=e('password')?'has-error':'')
      input(id='password', name='password', type='password', placeholder=t('user.password')).form-control
    .form-group(class=e('confirmation')?'has-error':'')
      input(id='confirmation', name='confirmation', type='password', placeholder=t('user.confirmation')).form-control
    if e('password')
      label(for='password').help-block= t('mongoose.'+e('password').kind, e('password'))
    if e('confirmation')
      label(for='confirmation').help-block= t('mongoose.'+e('confirmation').kind, e('confirmation'))
    input(name='_csrf', value=csrf, type='hidden')
    input(name='_html', value=1, type='hidden')
    input(type='submit',name='submit',value=t('session.sign_up')).btn.btn-lg.btn-primary.btn-block
    a.btn.btn-link(href='/signin')= t('session.sign_in')

//- vim:ts=2 sts=2 sw=2 et:
