// views/index.jade -- mockup main page
// Copyright 2014 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

extends ../_main

block content
  .row.tp-user
    .col-lg-6
      form(method='post', accept-charset="UTF-8").form-horizontal
        .form-group(class=e('name')?'has-error':'')
          label.tp-photo.control-label.col-sm-3
            span.glyphicon.glyphicon-user
          label(for='name').control-label.hidden= t('user.name')
          .col-sm-9
            input.form-control.input-lg(id='name', name='name',
              type='text', value=user.name, placeholder=t('user.name'))
            if e('name')
              label.help-block(for='name')
                = t('mongoose.'+e('name').type, { path: t('user.name') })
        .form-group(class=e('email')?'has-error':'')
          label(for='email').control-label.col-sm-3= t('user.email')
          .col-sm-9
            input.form-control.input-sm(id='email', name='email',
              type='text', value=user.email,  placeholder=t('user.email'))
            if e('email')
              label.help-block(for='email')
                = t('mongoose.'+e('email').type, { path: t('user.email') })
        .form-group
          label(for='admin').control-label.col-sm-3= t('user.admin')
          .col-sm-9
            input.form-control.input-sm(id='admin', name='admin',
              type='checkbox', checked=user.admin,
              disabled=(!operator.admin || operator._id.equals(user._id)))
        .form-group(class=e('password')?'has-error':'')
          label(for='password').control-label.col-sm-3= t('user.password')
          .col-sm-9
            input.form-control.input-sm(id='password', name='password',
              type='password', value=user.password,  placeholder=t('user.password'))
            if e('password')
              label.help-block(for='password')
                = t('mongoose.'+e('password').type, e('password'))
        .form-group(class=e('confirmation')?'has-error':'')
          label(for='confirmation').control-label.col-sm-3= t('user.confirmation')
          .col-sm-9
            input.form-control.input-sm(id='confirmation', name='confirmation',
              type='password', value=user.confirmation,  placeholder=t('user.confirmation'))
            if e('confirmation')
              label.help-block(for='confirmation')
                = t('mongoose.'+e('confirmation').type, e('confirmation'))
        input(name='_csrf', value=csrf, type='hidden')
        input(type='hidden',name='_method',value='put')
        input(type='submit',name='submit',value=t('user.update')).btn.btn-sm.btn-primary

//- vim:ts=2 sts=2 sw=2 et:
