// views/index.jade -- mockup main page
// Copyright 2014 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

extends ../_main

block content
  .row.tp-user
    .col-lg-6
      form(method='post', accept-charset="UTF-8").form-horizontal
        .form-group
          label.tp-photo.control-label.col-sm-3
            span.glyphicon.glyphicon-user
          label(for='name').control-label.hidden= t('user.name')
          .col-sm-9
            input(id='name', name='name', type='text', value=user.name, placeholder=t('user.name')).form-control
            if (err && err.errors && err.errors.name)
              label.help-block(for='name')= err.errors.name.type
        .form-group
          label(for='email').control-label.col-sm-3= t('user.email')
          .col-sm-9
            input(id='email', name='email', type='text', value=user.email,  placeholder=t('user.email')).form-control
        input(name='_csrf', value=csrf, type='hidden')
        input(type='hidden',name='_method',value='put')
        input(type='submit',name='submit',value=t('user.update')).btn.btn-sm.btn-primary

//- vim:ts=2 sts=2 sw=2 et:
