<!-- app/views/layouts/_header.html.erb - header partial
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<header class="navbar">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">asutp.io</a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li id="user" class="dropdown">
      <a class="dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown"><%= current_user.name %><span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><%= link_to (t 'users.show.title'), current_user,
            role: "menuitem", tabindex: "-1" %></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><%= link_to 'Выход', signout_path, method: "delete",
            role: "menuitem", tabindex: "-1" %></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="tp-flash-container">
    <div class="clearfix"></div>
    <div class="tp-flash">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= value %>
        </div>
      <% end %>
    </div>
  </div>
</header>
