<!-- app/views/layouts/_main.html.erb - page content partial
# Copyright 2014 Sergei Ianovich
#
# Licensed under AGPLv3 or later
# Process Control Service Web Interface
-->

<% if signed_in? %>
<body class="user">

<%= render 'layouts/header' %>
<div class="row tp-toolbar">
  <div class="col-xs-12 col-md-10 col-xl-11 pull-right">
    <%= yield(:toolbar) %>
  </div>
</div>
<div class="row tp-main">
  <div class="col-xs-4 col-md-2 col-xl-1 tp-sidebar">
    <ul class="nav tp-tools-side">
      <%= yield (:sidebar) %>
    </ul>
    <ul class="nav tp-menu-side">
      <li><a href="#">Moниторинг</a></li>
      <% if current_user.admin? %>
        <li class="<%= yield(:user_class) %>"><a href="/users">Пользователи</a></li>
        <li><a href="#">Устройства</a></li>
      <%end %>
    </ul>
  </div>
  <div class="col-xs-12 col-md-10 col-xl-11 tp-content">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</div>
<% else %>
<body>
  <%= render 'layouts/header_signin' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
<% end %>
<!-- vim:set ts=2 sts=2 sw=2 et: -->
